/* responsive hamburger menu/navbar */
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */

.header {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px; 
  text-decoration: none;
  font-size: 28px;
  font-family: 'Abril Fatface', cursive;
  color: #564A4A;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .email {
  position: relative;
  top: 5px;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .logo img {
  max-height: 150px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* Global */
h1 {
  font-size: 48px;
  color: #99A799;
  font-family: 'Abril Fatface', cursive;
}

h2 {
  font-size: 48px;
  color: #564A4A;
  font-family: 'Abril Fatface', cursive;
}

p {
  font-size: 30px;
  color: #564A4A;
  line-height: 37px;
  font-family: Source Sans Pro;
  font-weight: 300;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.button {
  width: 240px;
  border: 3px solid #564A4A;
  box-sizing: border-box;
  filter: drop-shadow(0px 10px 20px rgba(86, 74, 74, 0.5));
  border-radius: 15px;
  height: 60px;
  cursor: pointer;
  font-style: Source Sans Pro;
  font-size: 24px;
  font-weight: 600;
  color:#564A4A;
}

.button:hover {
  background-color: #564A4A;
  color: #FFFBF5;
}

/* body */
/* hero */
.hero {
  /* height: 70vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 140px;
}

.hero .texts {
  width: 50%;
  text-align: center  ;
}

.hero .images-container {
  margin-top: 30px;
}

.hero .image {
  max-height: 250px;
  animation: appear 3s infinite;
  opacity: 0;
}

.hero .image.two {
  animation-delay: 1s;
}

.hero .image.three {
  animation-delay: 2s;
}

@-webkit-keyframes appear {
  0% { opacity: 1;}
  25% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}

/* approach */
.approach {
  background-color: #F4EDE2;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-height: 100vh;
  padding: 0 6vw;
}

.approach h2 {
  margin-bottom: 0;
}

.approach .flowchart {
  width: 100%;
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr); 
  gap: 0px 0px; 
  grid-template-areas: 
    "first second third fourth-top"
    "first second third fourth-bottom"; 
}

.icon-container {
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 50px 0;
}

.icon-container p {
  margin: 0;
}

.approach .img-bottom {
  position: absolute;
  bottom: -15px;
  right: 10px;
}

.approach .annotation {
  font-size: 23px;
  font-style: italic;
  color: #99A799;
  position: absolute;
  top: -18px;
}

.approach span {
  position: absolute;
  font-size: 40px;
}

.approach .arrow-right {
  right: 0;
}

.approach .arrow-top-right, .approach .arrow-top-left {
  left: 0;
}

.approach .arrow-top-left {
  top: 0
}

/* projects */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  padding: 10vh 3vw;
}

.project {
  grid-gap: 3vw;
}

.project .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.project-image {
  box-shadow: 10px 10px #99A799;
}

.project h2 {
  margin: 0;
}

/* about me */
.about {
  background-color: #F4EDE2;
  padding: 0 3vw 0 6vw;
  grid-gap: 3vw;
}

.about .left {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about h2 {
  text-align: center;
}

.photo-frame {
  position: absolute;
  background-color: #99A799;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(86, 74, 74, 0.5);
}

.photo-frame img {
  right: 15px;
  top: 15px;
  position: relative;
}



/* mobile responsiveness */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
    margin: 0;
  }
  h2 {
    font-size: 34px;
  }
  p {
    font-size: 24px;
  }

  .logo img {
    max-height: 40px !important;
  }
  
  .button {
    width: 170px;
    font-size: 20px;
    height: 44px;
  }
  
  /* hero */
  .hero .images-container {
    margin-top: 50px;
  }
  .hero .image {
    max-height: 120px;
  }
  .hero .texts {
    width: 90%;
  }

  /* approach */
  .approach {
    max-height: 100%;
    padding-bottom: 100px;
  }
  .approach h2 {
    margin-bottom: 20px;
  }
  .approach .flowchart {
    padding-bottom: 150px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
      "first first"
      "second second"
      "third third"
      "fourth-top fourth-bottom";
 }
  .icon-container {
    margin: 40px 0 0 0 ;
  }
  .approach .arrow-right {
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
    right: auto;
    bottom: -28px;
  }
  .approach .arrow-top-right, .approach .arrow-top-left {
    left: auto;
    top: -70px !important;
  }

  /* projects and about */
  .two-columns {
    grid-template-columns: none;
    grid-gap: 25px;
  }
  .projects {
    height: auto;
  }
  .project-image {
    max-width: 90%;
  }
  .project .right {
    padding: 0 20px;
  }
  .project .right h2 {
    text-align: center;
  }
  .project .right p {
    margin-top: 10px;
  }
  .about .left {
    margin-top: 40px;
  }
  .about .text {
    padding: 0 20px;
  }
  .photo-frame {
    position: relative;
    text-align: center;
    width: 70%;
  }
  .photo-frame img {
    max-width: 100%;
    right: 10px;
    top: 10px;
  }
}
